.section-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Header styling */
.body-header h2 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 10px;
    justify-content: center;
}

.body-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Button styling for + New Admin */
.btn-icon.btn-show-modal {
    font-size: 1.1rem;
}
.btn-icon.btn-show-modal .icon {
    margin: 0 !important;
}

.accordion {
    color: white;
    margin-bottom: 10px;
}

.accordion .accordion-header {
    padding: 15px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;
    border: 3px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;

    background-color: #411351;
}

.accordion-header .accordion-header-number {
    padding: 7px;
    border: 3px solid white;
    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-header .accordion-header-text {
    display: flex;
    flex-direction: column;
}

.accordion-header-text .accordion-header-name {
    font-size: 1.5rem;
}
.accordion-header-text .accordion-header-address {
    font-size: 1rem;
}

.accordion .accordion-header:hover {
    cursor: pointer;
}

.accordion .accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 50px;
    border: 3px solid white;
    border-top: none;

    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #823284;
}

.accordion-content .accordion-content-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    font-weight: bold;
    font-size: 1.1rem;
}
.accordion-content .accordion-content-row:not(:last-child) {
    margin-bottom: 10px;
}

.accordion-content-row span {
    height: 100%;
    display: flex;
    align-items: center;
}

.accordion .accordion-form {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    gap: 10px;
}

.accordion .accordion-field {
    padding: 0 20px;
    border-radius: 10px;

    background-color: white;
}

.accordion-content-row .btn-icon.save:hover {
    color: #0d204a;
}

