* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-login {
    background-color: #091057; /* Slightly lighter blue for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
}
.login-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.login-header .btn-icon {
    font-size: 0.9em;
    width: fit-content;
}

.login-header .login-title {
    text-transform: uppercase;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.login-header {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px; /* Increased space between text and input boxes */
}

.form-group label {
    color: #fff; /* White text for labels */
    font-weight: bold;
    margin-bottom: 5px; /* Additional space below label */
    display: block; /* Ensure label is on a new line */
}

input.input-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #aacae6;
    color: #fff; /* White text for input fields */
    font-size: 1em;
}

input.input-login:focus {
    outline: none;
    background-color: #9f60b5;
}

button.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#00338e; /* Bright blue for button */
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"].btn-login:hover {
    background-color:#9f60b5;
}

.login-header .login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 10px;
}
.login-buttons .btn-icon {
    margin: 0;

    height: 100%;
    aspect-ratio: 1 / 1;
}

