.modal-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 2px solid #ccc;
    border-radius: 15px;

    width: 50%;
    max-height: 80vh;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal .modal-header {
    background-color: #024CAA;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px 15px 0 0;
}

.modal-header .modal-title {
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.modal-header .close-btn {
    color: white;
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
}

.modal .modal-body {
    padding: 20px;
    background-color:#c8b7ef;
    color: #000000;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #024CAA transparent;
}

.modal .modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #024CAA;
    border-radius: 5px;
}

.modal input[type="text"], select, input[type="email"] {
    border-radius: 5px;
}
