.modal-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 2px solid #ccc;
    border-radius: 15px;

    width:max-content;
    max-height: 80vh;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal .modal-header {
    background-color: #024CAA;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 15px 15px 0 0;
}

.modal-header .modal-title {
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.modal-header .close-btn {
    color: white;
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
}

.modal .modal-body {
    background-color:#411351;
    color: #ffffff;
    overflow-y: auto;
    font-weight: bold;
    scrollbar-width: thin;
    scrollbar-color: #024CAA transparent;
}

.modal .modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #024CAA;
    border-radius: 5px;
}

.modal input[type="text"], select, input[type="email"] {
    border-radius: 5px;
}

.modal .modal-form {
    width: 540px;
    min-height: 590px;

    padding: 20px 40px;
    color: #ccc;
}

.modal-form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0;
    width: 100%;
    margin-left: 0;

    color: inherit;
}

.modal-form .input-field input, .modal-form .input-field select {
    border-radius: 10px !important;
}

.modal-form .input-field, .modal-form select {
    margin: 10px 0;
    flex-grow: 1;
}

.modal-form label {
    color: #ccc;
    text-transform: capitalize;
    font-weight: bold;
}


@media (max-width: 768px) {
    
    .modal {
        width: 90%; 
        max-width: 400px; 
        max-height: 80vh; 
        overflow-y: auto; 
    }

    .modal .modal-header {
        padding: 12px 16px;
        gap: 8px;
    }

    .modal-header .modal-title {
        font-size: 1.2em;
    }

    /**/
    .modal-header .close-btn {
        font-size: 1.1em;
    }

    .modal .modal-body {
        padding: 16px;
    }

    .modal .modal-form {
        width: 100%;
        padding: 15px 20px;
    }

    /**/
    .modal-form .form-row {
        gap: 5px;
    }

    .modal input[type="text"], 
    .modal input[type="email"], 
    .modal select {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
    }

    .modal-form .input-field, .modal-form select {
        margin: 8px 0;
    }
}



