.section-mg-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}
.section-mg-list .gym-data {
    margin-top: 20px;
    padding: 20px 40px;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #540032;

    width: 540px;
}
.section-mg-hd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.section-mg-hd-title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 1.9em;
    text-transform: uppercase;
    text-decoration: none !important;

    text-align: center;
    grid-column: 2;
}

.section-mg-hd-btns {
    grid-column: 3;

    display: flex;
    justify-content: end;
    column-gap: 10px;
    margin: 0 15px;
}

.gym-data-header {
    display: flex;
    justify-content: end;
}
.gym-data-header.left {
    justify-content: start;
}

.gym-data .input-field, .gym-data select, .gym-whs-wd {
    margin: 10px 0;
    flex-grow: 1;
}
.gym-data label {
    color: #ccc;
    text-transform: capitalize;
    font-weight: bold;
}
.gym-data input {
    margin-top: 0;
}
.gym-data .gym-price {
    display: flex;
    align-items: end;
}
.gym-data .gym-price select, .gym-data .gym-price input {
    height: 45px;
}
.gym-data .gym-price select {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.modal .gym-data {
    border: none;
    margin: 0;
    border-radius: unset;
}
.gym-whs-wd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px
}

.gym-whs-wd .gym-whs-wd-name {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #ccc;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.gym-whs-wd .gym-whs-wd-time {
    margin: 0 10px;
}

.gym-data table {
    width: 100%;
    color: #00BFFF;
    font-size: 1.1rem;
}
.gym-data .gym-data-title {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.gym-data table .gym-data-row td {
    padding: 5px 10px 5px 0;
}
.gym-data-row .gym-data-row-attr-name {
    /*font-weight: bold;*/
    white-space: nowrap;
    text-transform: capitalize;
}

.gym-data-row .gym-data-row-attr-value {
    color: white;
    font-weight: bold;
}

.gym-data-row-whs {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: white;
    border-top: 1px solid white;

    font-size: 1.1rem;
}
.gym-data-row-whs .gym-data-row-whs-title {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}
.gym-data-row-whs-wd .gym-data-row-wh {
    display: flex;
    justify-content: space-between;
}