* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #024CAA;
    font-family: Arial, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/*Layout*/
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: inherit;
    box-sizing: border-box;

    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.container .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "sliders main";

    background-color: #091057;
    padding: 20px;
}

.container .content.content-single-column {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "section-body";
}

.container .content.content-account-gym{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "section-body";
}

.content .content.content-account-admin{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "section-body";
}

.content .main {
    grid-area: main;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/*Info section style*/
.section {
    display: flex;
    background-color: #091057;
    padding: 20px;
    border-radius: 5px;
}

.section-info {
    grid-area: section-info;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.section-info div {
    width: 30%;
    color: #b0c4de;
}

.section-info h3, .section-body h3 {
    font-size: 1.3em;
    color: #4f8cff;
    margin-bottom: 10px;
}

.section-info p {
    font-size: 1em;
    color: #b0c4de;
}


/*Index and AccountUser feedback area*/
.sliders {
    grid-area: sliders;
    background-color: #ccc;
}

.sliders form {
    padding: 20px;
    display: grid;
    gap: 20px;
}

.sliders form h3 {
    font-size: 1.2em;
}

.sliders form label {
    font-weight: bold;
}

.sliders form input[type="range"] {
    width: 100%;
}

.input-field-slider-range {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-family: SansSerif, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

.input-field-slider-range .slider-max {
    text-align: end;
}

.input-field-slider-range .slider-current {
    text-align: center;
}

.sliders form select,
.sliders form input[type="text"],
.sliders form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #004080; /* Blue border */
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.sliders form select:focus,
.sliders form input[type="text"]:focus,
.sliders form input[type="number"]:focus {
    border-color: #024CAA;
}

/*styles for all buttons*/
button[type="submit"].button-submit {
    background-color: #4f8cff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button[type="submit"].button-submit:hover {
    background-color: #ffd54f;
}

/*Index sliders style*/
input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 5px;
    background: #ddd linear-gradient(to right, aqua, blue);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #c9bc92;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4f8cff;
    cursor: pointer;
}

/*time input for AccountUser and AccountGym*/
.time {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time label {
    color: #4f8cff;
    font-weight: bold;
}

.time input[type="time"] {
    background-color: #ebcd25;
    border: 1px solid #024CAA;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3s;
}

.time input[type="time"]:focus {
    border-color: #4f8cff;
    background-color: #fff8e1;
}

.time input[type="time"]::placeholder {
    color: #999
}

/*locations controls for map section*/
.location-controls {
    display: grid;
    grid-area: location-controls;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: start;
    box-sizing: border-box;
    height: fit-content;
}

.location-controls button {
    padding: 12px 20px;
    background-color: #4f8cff;
    color: #FFF4B7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    height: 100%;
    font-weight: bold;
}

.location-controls button:hover {
    background-color: #ebcd25;
}

.location-controls input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/*Map section for all the pages that need it*/
.section-map {
    grid-area: map;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 0;
    background-color: inherit;
    padding: 0;
}

.map {
    width: 100%;
    height: 400px;
    background-color: #e6e6e6;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #666;
    border: 1px solid #ccc;
}

.map-account {
    height: 870px;
}


/*History, GymEdit and Admin body*/
.section-body {
    grid-area: section-body;
    align-items: flex-start;
    text-align: left;
}

.section-body h2 {
    color: #f8f8f8;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
}

.section-body h3 {
    font-size: 1.3em;
    color: #4f8cff;
    margin-bottom: 10px;
    text-decoration: underline;
}

.section-body input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

/*History list style*/
.recommendation-list {
    list-style-type: none;
    padding: 0;
}

.recommendation-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #86b8f0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.recommendation-item h4 {
    margin: 0;
    font-size: 1.2em;
}

.recommendation-item p {
    margin: 5px 0;
    color: #666;
}


.accordion-content {
    padding: 15px;
    background-color: #024CAA;
    color: #b0c4de;
}


.section-request, .section-unavailable{
    background-color:rgb(185, 183, 193);
    margin: 10px;
}

/*AccountGym forms*/
.request-form, .update-form, .unavailable-form {
    color: #4f8cff;
    font-weight: bold;
  }

/*AccountGym and AccountAdmin forms*/
.form-row {
    display: grid;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    grid-template-columns: 1fr 4fr;
  }

.unavailable-form{
    display: grid;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    grid-template-columns: 1fr 1fr;
}

.unavailable-form .input-box{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/*AccountAdmin style*/
.create-admin, .gym-requests {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

label.input-field-label {
    color: black;
}
button.button-icon {
    border: none;
    background-color: inherit;
}

button.button-icon .icon {
    background-color: inherit;
}

button.button-icon .icon:hover {
    color: #ebcd25;
    cursor: pointer;
}


/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #091057;
    color: rgb(187, 185, 185);
    flex-direction: column;
    padding: 30px 10px;
    margin-top: 10px;
    row-gap: 10px;
}

.footer-note {
    font-size: 0.8em;
    color: white;
}
